
* {
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
}
body {
    background: black;
    color: white;
    font-size: 2.2em;
    font-family: 'Raleway', sans-serif;
    line-height: 90%;
    padding: 0px 0px 5px 0px;
    position: relative;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;

    label {
        font-size: 0.6em;
    }
    input {
        font-size: 0.6em;
    }
    a {
        text-decoration: none;
        color: $primaryColorLight;

        &:hover {
            text-decoration: none;
            color: $complementaryColorLight;
        }
    }
    p {
        color: $textColorLight;
        font-size: 0.7em;
        line-height: 120%;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $textColorDark;
    margin: 1em 0;
    padding: 0;
}
h1 {
    color: white;
    font-family: 'Arimo', sans-serif;
    line-height: 90%;
    font-size: 1.2em;
}
h2 {
    font-size: 1.2em;
    color: $textColorLight;
    font-family: 'Arimo', sans-serif;
}
h3 {
    color: $textColorLight;
    font-size: 0.7em;
    line-height: 120%;
}
h4 {
    color: $textColorLight;
    font-size: 0.7em;
    line-height: 90%;
}
h5 {
    color: $textColorLight;
    font-size: 0.6em;
}

div {
    button {
        color: black;
        font-size: 0.6em;
        padding: 2px;
    }
    label {
        font-size: 0.7em;
    }
}

select {
    color: white;
    background-color: $backgroundColorMedium;
}

.optionsStyle {
    font-size: 1.0em;
    padding: 5px;
}

.main {
    margin-top: -30px;
    padding-right: 20px;
    padding-left: 7px;
}

.mainTitle {
    float: left;
}

.search {
    padding: 0px 0px 15px 0px;

    label {
        font-size: 0.7em;
    }
}

.clearfix {
    overflow: auto;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
