<section class="drawingPage">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="controlsBar">
               <ng-color-picker class="colorPicker" selected='selected'></ng-color-picker>
               <div class="cornerButtons">

                  <label class="optionsStyle">Theme:
                     <select ng-model="themeType" ng-change="changeThemeType()">
                        <option value="light">light</option>
                        <option value="dark">dark</option>
                     </select>
                  </label>

                  <label class="optionsStyle">Brush:
                     <select ng-model="brushType" ng-change="changeBrushType()">
                        <option value="metabrushLines">lines</option>
                        <option value="metabrushGalactic">galaxies</option>
                        <option value="metabrushGeo">geometry</option>
                        <option value="metabrushFlowers">flowers</option>
                     </select>
                  </label>

                  <button class="btn" ng-click="refreshPage()">REFRESH</button>

               </div>
            </div>
            <canvas id="drawCanvas"></canvas>
         </div>
      </div>
   </div>
</section>
