
// define site colours
$primaryColorLight: #ba6fe8;
$primaryColorMedium: #7d3ca3;
$primaryColorDark: #3c1c4e;
$complementaryColorLight: complement($primaryColorLight);
$textColorLight: #ddd;
$textColorDark: #777;
$backgroundColorLight: #444;
$backgroundColorMedium: #222;
$backgroundColorDark: #111;


* {
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
}
body {
    background: black;
    color: white;
    font-size: 2.2em;
    font-family: 'Raleway', sans-serif;
    line-height: 90%;
    padding: 0px 0px 5px 0px;
    position: relative;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;

    label {
        font-size: 0.6em;
    }
    input {
        font-size: 0.6em;
    }
    a {
        text-decoration: none;
        color: $primaryColorLight;

        &:hover {
            text-decoration: none;
            color: $complementaryColorLight;
        }
    }
    p {
        color: $textColorLight;
        font-size: 0.7em;
        line-height: 120%;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $textColorDark;
    margin: 1em 0;
    padding: 0;
}
h1 {
    color: white;
    font-family: 'Arimo', sans-serif;
    line-height: 90%;
    font-size: 1.2em;
}
h2 {
    font-size: 1.2em;
    color: $textColorLight;
    font-family: 'Arimo', sans-serif;
}
h3 {
    color: $textColorLight;
    font-size: 0.7em;
    line-height: 120%;
}
h4 {
    color: $textColorLight;
    font-size: 0.7em;
    line-height: 90%;
}
h5 {
    color: $textColorLight;
    font-size: 0.6em;
}

div {
    button {
        color: black;
        font-size: 0.6em;
        padding: 2px;
    }
    label {
        font-size: 0.7em;
    }
}

#drawCanvas {
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
    border: solid $primaryColorDark 3px;
    border-radius: 12px;
}

#controlsBar {
    float: right;
}

.colorPicker {
    float: left;
    padding: 5px 8px;
    margin: 13px;
    border: solid $backgroundColorLight 2px;
    border-radius: 6px;
    background-color: white;
}

.cornerButtons {
    padding-top: 25px;
    float: right;
}

.main {
    margin-top: -30px;
    padding-right: 20px;
    padding-left: 7px;
}

.mainTitle {
    float: left;
}

.btn-link {
    color: $primaryColorLight;
    text-decoration: none;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

.search {
    padding: 0px 0px 15px 0px;

    label {
        font-size: 0.7em;
    }
}

.clearfix {
    overflow: auto;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ----------------------------------------------- */

select {
    color: white;
    background-color: $backgroundColorMedium;
}

/* ----------------------------------------------- */

#navigationBar {
    li {
        font-size: 0.7em;
    }
}

/* custom navbar class used for skinning the navbar */
.navbar-custom {
    background: linear-gradient($backgroundColorLight, $backgroundColorDark);
}

.footer {
    h4 {
        color: $textColorDark;
    }
}

.btn {
  background: $primaryColorMedium;
  background-image: -webkit-linear-gradient(top, $primaryColorMedium, $primaryColorDark);
  background-image: -moz-linear-gradient(top, $primaryColorMedium, $primaryColorDark);
  background-image: -ms-linear-gradient(top, $primaryColorMedium, $primaryColorDark);
  background-image: -o-linear-gradient(top, $primaryColorMedium, $primaryColorDark);
  background-image: linear-gradient(to bottom, $primaryColorMedium, $primaryColorDark);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 0.7em;
  padding: 5px 10px 5px 10px;
  border: solid #c8aed9 1px;
  text-decoration: none;

  &:focus {
      color: white;
  }

  &:hover {
    background: $primaryColorLight;
    background-image: -webkit-linear-gradient(top, $primaryColorLight, $primaryColorMedium);
    background-image: -moz-linear-gradient(top, $primaryColorLight, $primaryColorMedium);
    background-image: -ms-linear-gradient(top, $primaryColorLight, $primaryColorMedium);
    background-image: -o-linear-gradient(top, $primaryColorLight, $primaryColorMedium);
    background-image: linear-gradient(to bottom, $primaryColorLight, $primaryColorMedium);
    text-decoration: none;
    color: white;
  }
}



atom-text-editor {
  &, &::shadow {
    atom-text-editor-minimap {
      display: none;
    }
  }

  &.is-focused {
    &, &::shadow {
      atom-text-editor-minimap {
        display: block;
      }
    }
  }
}
